<div class="content">
  <div>
    <div class="center header">Orders</div>
    @if (orders.length > 0) {
      <div class="content-orders">
        <div class="header">Customer Name</div>
        <div class="header">Product Name</div>
        <div class="header">Quantity</div>
        <div class="header">Total Price</div>
        <div class="header">Date</div>
        <div class="header">Action</div>
        @for (order of orders; track order.id) {
      <div>{{ order.customerName }}</div>
      <div>{{ order.productName }}</div>
      <div>{{ order.quantity }}</div>
      <div>{{ order.totalPrice }}</div>
      <div>{{ order.date }}</div>
      <button type="button" (click)="onMarkFollowUp(order, true)">Follow Up</button>
      }
    </div>
    }
    @else {
    <h2> No orders available.</h2>
    }
  </div>
  <div>
    <div class="center header">Follow Up Orders</div>
    @if (followUpOrders.length > 0) {
      <div class="content-orders">
       <div class="header">Customer Name</div>
       <div class="header">Product Name</div>
       <div class="header">Quantity</div>
       <div class="header">Total Price</div>
       <div class="header">Date</div>
       <div class="header">Action</div>
       @for (order of followUpOrders; track order.id) {
        <div>{{ order.customerName }}</div>
        <div>{{ order.productName }}</div>
        <div>{{ order.quantity }}</div>
        <div>{{ order.totalPrice }}</div>
        <div>{{ order.date }}</div>
        <button type="button" (click)="onMarkFollowUp(order, false)">Remove</button>
       }
      </div>
    }
    @else {
      <h2> No orders marked for follow up.</h2>
    }

  </div>
</div>
